<form #regForm="ngForm" (ngSubmit)="onAdd()">
  <div class="form-group">
    <textarea
      type="text" name="content"
      required
      [ngClass]="{'form-control':true,'is-invalid':!regForm.form.valid && regForm.form.touched}"
      placeholder={{placeholder}}
      [(ngModel)]="model.content">
    </textarea>
    <div class="invalid-feedback" *ngIf="!regForm.form.valid && regForm.form.touched">
      Field is required
     </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!regForm.form.valid">Submit</button>
</form>